@font-face {
  font-family: "Baumans";
  font-style: normal;
  font-weight: normal;
  src: local("Baumans"), url("./Fonts/Baumans.ttf") format("truetype");
}

@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: normal;
  src: local("Quicksand"), url("./Fonts/Quicksand.ttf") format("truetype");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;

  --color-1: #11205b;
  --color-2: #19308a;
  --color-3: #203cac;
  --color-4: #2648cf;
  --color-5: #f3cb6f;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Baumans";
}

p {
  font-family: "Quicksand";
}

a {
  font-family: "Quicksand";
  text-decoration: none;
}

button {
  font-family: "Quicksand";
  font-weight: bold;
}

.Home Button{
  width: 200px;
  height: 50px;
  font-size: 1.2rem;
  margin-top: 15px;
}
